* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: #3B68B7;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

form {
    width: 100%;
    max-width: 500px;
    background-color: white;
    padding: 20px;
    box-shadow: -10px -5px 0 #03245c;
}
form fieldset {
    display: flex;
    flex-direction: column;
    border: none;
}
form legend {
    color: #3B68B7;
    font-size: 1.5rem;
    padding-bottom: 30px;
}
form input {
    border: none;
    border-bottom: 1px solid #3B68B7;
    margin-bottom: 20px;
    height: 40px;
    outline: none;
}
form div {
    display: flex;
    justify-content: space-between;
    align-items: end;
}
form input[type="submit"]{
    background-color: #3B68B7;
    padding: 0 15px 0 15px;
    color: white;
    border-radius: 5px;
    margin-bottom: auto;
}
